<!-- Featueres section -->

<div class="row justify-content-center text-center mt-lg-3">
    <div class="col-lg-4">
        <svg xmlns='http://www.w3.org/2000/svg' class='feather text-violet feather-big' width="4em" height="4em">
            <use href="{{ `images/feather/feather-sprite.svg#shield` | relURL }}"/>
        </svg>
        <h2 class="h2">Secure API Key Management</h2>
        <p>Safeguard your credentials with our robust security measures. Our extension securely stores your API key 
            between sessions, ensuring it remains protected from unauthorized access and leaks. Trust in a tool that 
            prioritizes your privacy and security.</p>
    </div>
    <div class="col-lg-4">
        <svg xmlns='http://www.w3.org/2000/svg' class='feather text-violet feather-big' width="4em" height="4em">
            <use href="{{ `images/feather/feather-sprite.svg#zap` | relURL }}"/>
        </svg>
        <h2 class="h2">Enhanced Productivity</h2>
        <p>Boost your productivity by reducing the time spent reading through lengthy articles. Our extension helps you 
            focus on what's important, making your research process more efficient. Create your own OpenAI API account 
            and generate an API Key <a href="https://platform.openai.com/" target="_blank" rel="noopener">here</a>.</p>
    </div>
    <div class="col-lg-4">
        <svg xmlns='http://www.w3.org/2000/svg' class='feather text-violet feather-big' width="4em" height="4em">
            <use href="{{ `images/feather/feather-sprite.svg#trending-up` | relURL }}"/>
        </svg>
        <h2 class="h2">AI-Powered Summaries</h2>
        <p>Get instant, accurate summaries powered by the latest AI technology. Our extension uses OpenAI's API to distill 
            information, ensuring you get the essence of any web content without missing critical details.</p>
    </div>
</div>

<div class="row justify-content-center text-center mt-lg-3">
    <div class="col-lg-4">
        <h2 class="h2">Seamless Integration</h2>
        <p>Designed to blend effortlessly with your browsing experience. Our extension works silently in the background, 
            ready to summarize whenever you need it, without disrupting your workflow.</p>
    </div>
    <div class="col-lg-4">
        <h2 class="h2">Effortless Research</h2>
        <p>Simplify your online research with a click. Our AI-powered extension quickly summarizes web pages, highlighting 
            key information, so you can gather data faster than ever.</p>
    </div>
    <div class="col-lg-4">
        <h2 class="h2">Optimized for All Users</h2>
        <p>Whether you're a student, researcher, or professional, our extension is designed to suit everyone. It’s crafted 
            to provide essential information quickly and efficiently, making it the perfect tool for any task.</p>
    </div>
</div>
